# Environment variables
client/.env
server/.env

# Ignore any env variants
client/.env.*
server/.env.*

# Optional example files
!client/.env.example
!server/.env.example

# Mac system files
.DS_Store
**/.DS_Store

# Dependencies
node_modules/
server/node_modules/
client/node_modules/